.git
.github
.idea
.vscode
.env
.env.*
node_modules
vendor
public/hot
public/storage
storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/pail
bootstrap/cache/*.php
tests
.phpunit.result.cache
.phpunit.cache
